doctype html
html(lang="zh-Hant-HK")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="chrome=1")
		meta(http-equiv="Content-Language" content="zh-tw")
		link(rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen")
		link(rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen")
		link(rel="icon" type="image/png" href="images/favicon.png")
		script(src="https://code.jquery.com/jquery-2.1.4.js")
		script(async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		title One Piece Treasure Cruise

	body
		div(class="op-container")
			div(class="op-fixed")
				ins(class="adsbygoogle" style="padding:5px; display:block" data-ad-client="ca-pub-2845669748705451" data-ad-slot="5320111623" data-ad-format="auto")
				each build, build_idx in builds
					- x = build_idx % 5 * 113 + 1
					- y = Math.floor(build_idx / 5) * 113 + 1 + 75
					- y2 = y + 85
					div(style="position: absolute; left: " + x + "px; top: " + y + "px")
						img(class="thumbnail" src="#{build['thumbnail']}" data-title="#{build['title']}" data-name="#{build['name']}" data-skill="#{build['skill']}" data-portrait="#{build['portrait']}")
					div(align="center" style="position: absolute; left: " + x + "px; top: " + y2 + "px; width: 113px; height: 18px; font-family: \"Arial Black\", Gadget, sans-serif; font-size: 18px; color: white; text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;") No.#{build['no']}
			div(id="shower")

		script.
			$( "img.thumbnail" ).mouseenter(function() {
				$("#shower").html('<div class="op-flex-item-title"><h4>' + $(this).data('title') + '</h4></div><div class="op-flex-item-name"><h3>' + $(this).data('name') + '</h3></div><div class="op-flex-item"><img src="' + $(this).data('portrait') + '"><br><img src="' + $(this).data('skill') + '" style="position: relative; top: -100px"></div>');
			});

		script.
			(adsbygoogle = window.adsbygoogle || []).push({});
